@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.skill {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & img {
    width: 64px;
    height: 64px;
  }

  & h3 {
    @include text($fontPrimary, 16px, 400);
  }
}
