.skill {
    min-width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}