@import './sass/variables';
@import './sass/mixins';

.primary {
  all: unset;
  @include text($fontPrimary, 20px, 400);
  color: $textColor;
  border: 1px solid $textColor;
  border-radius: 3px;
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;

  &:hover {
    color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

.secondary {
  @include text($fontPrimary, 12px, 200);
}