@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.mainBlock {
  height: 100vh;

  .content {
    & span {
      @include text($fontPrimary, 24px, 300)
    }

    & h1 {
      @include text($fontPrimary, 40px, 700)
    }

    & p {
      @include text($fontPrimary, 16px, 200)
    }
  }

  .photo {
    width: 300px;
  }

  & img {
    width: 100%;
  }
}
