@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.mainBlock {
  min-height: 100vh;

  .content {
    & span {
      @include text($fontPrimary, 24px, 300)
    }

    & h1 {
      @include text($fontPrimary, 40px, 700)
    }

    & p {
      @include text($fontPrimary, 24px, 200)
    }
  }

  .photo {
    width: 300px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px dotted $textColor;
    }
  }

  & img {
    width: 100%;
    transform: rotate(-15deg);
    z-index: 2;
  }
}
