.skillsBlock {
    min-height: calc(100vh / 3);
    color: white;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    margin-bottom: 30px;
}

.title h2 {
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
}