.skillsBlock {
    min-height: calc(100vh / 3);
    background-color: #282c34;
    color: white;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    /*background-color: #eeeef5;*/
}