@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.title {

  margin: 0 0 30px;
  @include text($fontPrimary, 24px, 300);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;
  & h2 {
    margin: 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: $colorPrimary;
  }
}
