@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 726px) {
    width: 100%;
  }

  & a {
    padding: 20px;
    @include text($fontPrimary, 24px, 500);
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: 726px) {
      letter-spacing: 0;
      padding: 3px;
    }

    &:hover {
      color: $colorPrimary;
    }
  }
}
