@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & a {
    padding: 20px;
    @include text($fontPrimary, 24px, 500);
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $colorPrimary;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        height: 2px;
        width: 100%;
        color: $colorPrimary;
        transition: all 1s linear;
      }
    }
  }
}
