@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.nav {
    width: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav a {
    @include text($fontPrimary, 20px, 200);
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover {
    color: yellow;
}