@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.footerBlock {
  min-height: calc(100vh / 3);

  .footerContainer {
    flex-direction: column;
    gap: 20px;

    .socialBlock {
      display: flex;
      flex-flow: row wrap;
      gap: 50px;
      justify-content: space-around;

      & img {
        width: 64px;
        height: 64px;
      }
    }

    .copyright {
      @include text($fontPrimary, 12px, 200);
      text-align: center;
      margin-top: 20px;
    }
  }
}

