.footerBlock {
    min-height: calc(100vh / 3);
    background-color: #fadb60;

    display: flex;
    align-items: center;
}

.footerContainer {
    flex-direction: column;
    gap: 20px;
}

.socialBlock {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: space-around;

    border: 1px solid;
}

.socialItem {
    width: 50px;
    height: 50px;

    background-color: lightskyblue;
}
