.footerBlock {
    min-height: calc(100vh / 3);
    background-color: #fadb60;
}

.footerContainer {
    flex-direction: column;
    gap: 20px;
}

.socialBlock {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: space-around;
}

.copyright {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}