.contactsBlock {
    min-height: calc(100vh / 3);
    background-color: #7c71ff;

    display: flex;
    align-items: center;
}

.contactsContainer {
    flex-direction: column;
    gap: 10px;
}

.form {
    border: 1px solid;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}