.hireBlock {
    min-height: 25vh;
    background-color: #fc5b5b;

    display: flex;
    align-items: center;
}

.hireContainer {
    border: 1px solid;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}

.button {
    font-size: 32px;
    background-color: #e6ee62;
}